{{<partials-page}}
{{$page-content}}
  <table class="table-details">
    <tbody>
      <tr>
        <th class="govuk-!-font-weight-bold">Reference</th>
        <td class="no-white-space">
          {{values.incident-record.id}}
        </td>
      </tr>
      <tr>
        <th class="govuk-!-font-weight-bold">Date</th>
        <td class="no-white-space">
          {{values.incident-record.date}}
        </td>
      </tr>
      <tr>
        <th class="govuk-!-font-weight-bold">Location</th>
        <td class="no-white-space">
          {{values.incident-record.location}}
        </td>
      </tr>
      <tr>
        <th class="govuk-!-font-weight-bold">Incident</th>
        <td class="no-white-space">
          {{values.incident-record.incident}}
        </td>
      </tr>
      <tr>
        <th class="govuk-!-font-weight-bold">First name</th>
        <td class="no-white-space">
          {{values.incident-record.first_name}}
        </td>
      </tr>
      <tr>
        <th class="govuk-!-font-weight-bold">Incident</th>
        <td class="no-white-space">
          {{values.incident-record.last_name}}
        </td>
      </tr>
      <tr>
        <th class="govuk-!-font-weight-bold">employee's email</th>
        <td class="no-white-space">
          {{values.incident-record.user_email}}
        </td>
      </tr>
      <tr>
        <th class="govuk-!-font-weight-bold">line manager's email</th>
        <td class="no-white-space">
          {{values.incident-record.manager_email}}
        </td>
      </tr>
      <tr>
        <th class="govuk-!-font-weight-bold">Manager comments</th>
        <td class="no-white-space">
          {{#values.incident-record.manager_comments}}
            {{values.incident-record.manager_comments}}
          {{/values.incident-record.manager_comments}}
          {{^values.incident-record.manager_comments}}
            Empty
          {{/values.incident-record.manager_comments}}
        </td>
      </tr>
      <tr>
        <th class="govuk-!-font-weight-bold">Status</th>
        <td class="no-white-space">
          {{#values.incident-record.complete}}
            Complete
          {{/values.incident-record.complete}}
          {{^values.incident-record.complete}}
            In progress
          {{/values.incident-record.complete}}
        </td>
      </tr>
    </tbody>
  </table>
  {{#fields}}
    {{#renderField}}{{/renderField}}
  {{/fields}}
{{/page-content}}
{{/partials-page}}